<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8">
<title>Add new book</title>
</head>
<style>
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
<body class="bg-dark">

	<h1 class="text-warning">Add new book</h1>
	<div class="text-white bg-dark">
		<form th:object="${addBook}" th:action="@{saveBook}" action="#" method="post">

			<div class="form-floating">
				<input th:field="*{author}" type="text" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">	
					<label>Author:</label>
					<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
			</div>

			<div class="form-floating">
				<input th:field="*{title}" type="text" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>Title:</label>
			</div>

			<div class="form-floating">
				<input th:field="*{isbn}" type="text" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>ISBN:</label>
			</div>

			<div class="form-floating">
				<input th:field="*{publicationYear}" type="number" autocomplete="off" onfocus="this.value=''"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>Year:</label>
			</div>
			
			<div class="form-floating">
				<input th:field="*{price}" type="number" autocomplete="off" onfocus="this.value=''"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>Price:</label>
			</div>
	
			<div class="form-floating">
			 <select id="categories" th:field="*{category}" class=" text-white bg-dark form-control">
       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    		</select>		
			<label>Category</label>
			</div>
				
			<br />
			
			<input class="btn btn-sm btn-outline-success" type="submit" value="Save"></input>
				<a class="btn btn-sm btn-outline-danger" href="/booklist">Exit</a>
		</form>
	</div>
</body>
</html>

<!-- string title, author, isbn -->
<!-- double price -->
<!-- int publicationYear -->