<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8">
<title>Booklist</title>
</head>
<body class="bg-dark">
	<h1 class="text-warning">Booklist</h1>
	<table class="table table-sm table-hover table-dark">

		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Category</th>
		</tr>
			
		<tr th:each="books : ${books}">
			<td th:text="${books.author}"></td>
			<td th:text="${books.title}"></td>
			<td th:text="${books.isbn}"></td>
			<td th:text="${books.publicationYear}"></td>
			<td th:text="${books.category != null} ? ${books.category.name} : 'null value!'">Category</td>
			<td><a class="btn btn-sm btn-outline-info" th:href="@{/editBook/{id}(id=${books.id})}">Edit</a></td>
			<td><a class="btn btn-sm btn-outline-danger" th:href="@{/delete/{id}(id=${books.id})}">Delete</a></td>
		</tr>
		
	</table>
	<a class="btn btn-sm btn-outline-success" href="/addBook">Add book</a>
	
	<button class="btn btn-sm btn-outline-warning" onclick=" window.open('http://localhost:8080/h2-console/')"> H2 console</button>
	</body>
</html>

<!-- string title, author, isbn -->
<!-- double price -->
<!-- int publicationYear --> 