<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Edit book</title>
</head>
<body>
	<h1>Edit Book</h1>
	<div>
		<form th:object="${editBook}" th:action="@{/saveBook}" action="#"
			method="post">

			<input type="hidden" id="id" th:field="*{id}" /> <!-- Viedään id -->

			<div>
				<label>Author:</label>
				<input type="text" th:field="*{author}" />
			</div>
			<div>
				<label>Title:</label>
				<input type="text" th:field="*{title}" />
			</div>
			<div>
				<label>ISBN:</label>
				<input type="text" th:field="*{isbn}" />
			</div>
			<div>
				<label>Year:</label>
				<input type="number"
					th:field="*{publicationYear}" />
			</div>

			<input type="submit" value="Save"></input>

		</form>
		<form action="/booklist">
			<input type="submit" value="Exit">
		</form>
	</div>
</body>
</html>

<!-- string title, author, isbn -->
<!-- double price -->
<!-- int publicationYear -->