<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8">
<title>Edit book</title>
</head>
<style>
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
</style>
<body class="bg-dark">

	<h1 class="text-warning">Edit Book</h1>
	<div class="text-white bg-dark">
		<form th:object="${editBook}" th:action="@{/saveBook}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />

			<div class="form-floating">
				<input th:field="*{author}" type="text" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>Author:</label>
			</div>

			<div class="form-floating">
				<input th:field="*{title}" type="text" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>Title:</label>
			</div>

			<div class="form-floating">
				<input th:field="*{isbn}" type="text" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>ISBN:</label>
			</div>

			<div class="form-floating">
				<input th:field="*{publicationYear}" type="number" autocomplete="off"
					class="border-secondary text-white bg-dark form-control" placeholder=" ">
					<label>Year:</label>
			</div>

			<div class="form-floating">
			 <select id="categories" th:field="*{category}" class="border-secondary text-white bg-dark form-control">
       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    		</select>		
			<label>Category</label>
			</div>
			
			<br />	
			
			<input class="btn btn-sm btn-outline-success" type="submit" value="Save"></input>
			<a class="btn btn-sm btn-outline-danger" href="/booklist">Exit</a>

		</form>
	</div>
</body>
</html>

<!-- string title, author, isbn -->
<!-- double price -->
<!-- int publicationYear -->